:root {
    --primary-color: #ffffff;
    --secondary-color: #213638;
    --accent: #E5A13E;
    --secondary-accent: #CFE7E5;
    --muted-color: gainsboro;
}

body {
    background-color: var(--muted-color) !important;
}

main {
    margin-top:2rem;
}
.booking-card { 
    border-left: 5px solid var(--secondary-color); 
}
.status-badge { 
    font-size: 1rem; padding: 0.5rem 1rem; 
}
.spot-img { 
    height: 80px; object-fit: cover; border-radius: 8px; 
}

div.action-btn {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
div.action-btn a {
    width: 100% !important; 
}

.header-booking h2{
    color: var(--secondary-color) !important;

}

.package-details h4 {
    color: var(--secondary-color) !important;
}

.booking-summary .card-header {
    background-color: var(--accent) !important;
    color: var(--secondary-color);
}