

:root {
    --primary-color: #ffffff;
    --secondary-color: #213638;
    --accent: #E5A13E;
    --secondary-accent: #CFE7E5;
    --muted-color: gainsboro;

    /*Booking Status Color*/
    --pending-for-payment: #F9A825 ;
    --pending-for-approval: #EF6C00 ;
    --approved: #3A8E5C;
    --in-progress: #009688;
    --completed: #1A6338;
    --cancelled: #F44336;
    --cancelled-no-refund: #BC2E2A;
    --refunded: #42325D;    
    --failed: #820000;
    --rejected-by-guide: #B71C1C;
    --booking-expired-payment-not-completed: #695985;
    --booking-expired-guide-did-not-confirm-in-time: #695985;
}

body {
    background-color: var(--muted-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
}
.package-card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.package-card:hover {
    transform: translateY(-5px);
}
.card-header {
    background: var(--secondary-color);
    border-bottom: none;
    padding: 1.5rem;
}
.card-body {
    padding: 2rem;
}
.info-label {
    font-weight: 600;
    color: #495057;
    min-width: 180px;
}
.spot-item {
    background-color: #f8f9fa;
    border-left: 4px solid var(--completed);
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.btn-book {
    background: var(--secondary-color);
    border: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;
    color: var(--secondary-accent)  !important;
}
.btn-book:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(2, 46, 24, 0.4);
    background-color: var(--secondary-color) !important;
    color:white !important; 
}
.btn-back {
    border-radius: 50px;
    padding: 10px 25px;
}