:root{
  --primary-color: #ffffff;
  --secondary-color: #213638;
  --accent: #E5A13E;
  --secondary-accent: #CFE7E5;
}


@media (max-width: 572px) {
  header .navbar {
    padding: 10px !important;
  }
}

@media (max-width: 296px) {
    header .navbar-brand {
        font-size: .8rem !important; 
    }

    header .navbar-toggler {
        width: 42px;
        height: 30px;
    }

    header .navbar-toggler-icon{
        width: 15px !important;
        height: 15px !important;
        vertical-align: baseline !important;
    }

    header .navbar-nav {
        font-size: .8rem !important;
    }

    header .navbar-collapse .btn {
        font-size: .8rem !important;
    }
}


@media (max-width: 992px) {/* Smooth collapse animation */
    header .navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    }

    header .collapse:not(.show) {
    display: block;         /* ensures height can animate */
    height: 0;              /* start closed */
    opacity: 0;
    }

    header .collapse.show {
    height: auto;           /* open naturally */
    opacity: 1;
    }
}
header .navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent !important;
}

header .navbar.scrolled {
  background-color: rgba(33, 37, 41, 0.95) !important; /* Bootstrap dark tone */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

